
@{
    ViewData["Title"] = "Home Page";
    string[] TableHeaders = new string[] {"Sektion",
                                            "Række",
                                            "Skuffe",
                                            "Rum",
                                            "Vare Navn",
                                            "Antal",
                                            "Type",
                                            "Leverandør",
                                            "Leverandør Nummer",
                                            "Beskrivelse"};

}

<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>

        <tr>
            <td>
            </td>
        </tr>

        <tbody>
        </tbody>
    </table>
</div>
